{% extends "layout.html" %}

{% block title %}Dashboard{% endblock title %}

{% block body %}
{% if blogs %}
<table class="table">
  <form>
    {% csrf_token %}
    <input type="text" name = "keyword" class="input-sm" maxlength="200" placeholder="Search Blog">
    <button type="submit" class="btn btn-primary">Search</button>
  </form>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Author</th>
      <th scope="col">Date</th>
      <th scope="col"><a href="{% url 'AddBlog' %}"><button class="btn btn-primary">Blog Ekle</button></a></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
  
  {% for blog in blogs %}
  <tr>
      <th scope="row"><a href="{% url 'blog' blog.slug %}">{{blog.title}}</a></th>
      <td>{{blog.author}}</td>
      <td>{{blog.date}}</td>
      <td><a href="{% url 'UpdateBlog' blog.slug %}"><button class="btn btn-primary">Edit</button></a></td>
      <td><a href="{% url 'DeleteBlog' blog.slug %}"><button class="btn btn-primary">Delete</button></a></td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% else %}
<h1>No blog was located.</h1>
<a href="{% url 'AddBlog' %}"><button class="btn btn-primary">Write Blog</button></a>
{% endif %}


{% endblock body %}