{% extends "layout.html" %}

{% block title %}Blogs{% endblock title %}



{% block body %}




<a href="{% url 'AddBlog' %}"><button class="btn btn-primary">Blog Ekle</button></a>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Author</th>
      <th scope="col">Date</th>
      <th scope="col"><form>
    {% csrf_token %}
    <input type="text" name = "keyword" class="input-sm" maxlength="200" placeholder="Search Blog">
    <button type="submit" class="btn btn-primary">Search</button>
</form></th>
    </tr>
  </thead>
  {% for blog in blogs %}
    <tbody>
    <tr>
      <th scope="row"><a href="{% url 'blog' blog.slug %}">{{blog.title}}</a></th>
      <td>{{blog.author}}</td>
      <td>{{blog.date}}</td>
      <td></td>
    </tr>
  </tbody>
  {% endfor %}
</table>
<br><br>
{% if blogs %}

{% else %}
<h1>Unable to locate the blog you are searching for.</h1>
<a href="{% url 'AddBlog' %}"><button class="btn btn-primary">Write Blog</button></a>
{% endif %}

{% endblock body %}