{% extends "layout.html" %}

{% block title %}{{request.user}} Profiles{% endblock title %}

{% block body %}
<div class="container">
    <div class="main-body">
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  {% for profiles in profile %}
                    <div class="d-flex flex-column align-items-center text-center">
                      
                      <div class="mt-3">
                        <h4>{{profiles.username}}</h4>
                        <p class="text-secondary mb-1">this area is so empty(test)</p>
                        <p class="text-muted font-size-sm"></p>
                        {% if request.user.is_authenticated %}
                          <a href="{% url 'UpdateUser' profiles.id %}"><button class="btn btn-primary">Edit</button></a>
                        {% endif %}
                      </div>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Full Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {% for profiles in profile %}
                        {{profiles.first_name}} {{profiles.last_name}}
                      {% endfor %}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {% for profiles in profile %}
                        {{profiles.email}}
                      {% endfor %}
                    </div>
                  </div>    
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <br>
    <hr>
    <br>
    <div class="row">
        <div class="col-lg-4">
            <h2>Your Blogs</h2>
            <p>You can access your blogs with dashboard.</p>
            <p><a class="btn btn-primary" href="{% url 'dashboard' %}" role="button">Your Blogs</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4"> 
            <h2>Blogs</h2>
            <p>You can browse the blog page to see different blogs of different users.</p>
            <p><a class="btn btn-primary" href="{% url 'blogs' %}" role="button">Blogs</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <h2>Homepage</h2>
            <p>I can't find put anything this area :D</p>
            <p><a class="btn btn-primary" href="/" role="button">Homepage</a></p>
        </div><!-- /.col-lg-4 -->
    </div>
    <br><br><br>
    <hr>
    <br><br><br>
    

{% endblock body %}