{% extends "layout.html" %}

{% block title %}Edit Blog{% endblock title %}

{% block body %}

<h1>Edit Blog</h1>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="form-group">
    <label for="exampleInputEmail1">Title</label>
    <input type="text" name="title" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Başlık Ekleyin" value="{{ form.title.value }}">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Content</label>
    <textarea name="content" class="form-control" id="exampleInputPassword1" placeholder="İçeriği Yazın">{{ form.instance.content }}</textarea>
  </div>
  <div class="custom-file">
    <label class="custom-file-label" for="customFile">{% if form.instance.image %}
        <p>{{ form.instance.image }}</p>
    {% endif %}</label>
    <input type="file" name="image" class="custom-file-input" id="customFile">
  </div>
  <button type="submit" class="btn btn-primary">Edit</button>
</form>

{% endblock body %}

